{% extends "page.html" %}

{% block content %}
<article class="post">
    <h2>{{ terms | length }} tags in total</h2>
    <ul class="alt columns">
        {% for tag in terms %}
        <li><a href="{{ get_taxonomy_url(kind="tags", name=tag.name) }}">{{ tag.name }}</a> ({{ tag.pages | length }})</li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}