<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="mailto:williamdemeo@gmail.com" title="Email"><i class="fao fa-lg fa-envelope"></i></a></li>
    </ul>
    <p class="copyright">&copy; 2019 William DeMeo</p>
</section>