<!-- Header -->
<header id="header">
    <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    <nav class="links">
        <ul>
            <li><a href="{{ config.base_url }}">Home</a></li>
            <li><a href="/books">books</a></li>
            <li><a href="/code">code</a></li>
            <li><a href="/archive">archive</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="menu">
                <a href="#menu" title="Menu">
                    <span class="wide"><i class="fao fa-lg fa-search"></i></span>
                    <span class="narrow"><i class="fao fa-lg fa-bars"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<!--            <li><a href="/lean-ualib">lean-ualib</a></li>
            <li><a href="/python">python/sage</a></li>
            <li><a href="/rss.xml">feed</a></li> -->
