<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{{ config.description }}" />
<meta name="author" content="{{ config.extra.author.name }}" />

<!-- HERE IS WHERE THE ICON IN THE BROWSER TAB IS SET. -->
<!-- <link rel="sag-tatoo" sizes="180x180" href="/images/sag-tatoo.png"> -->
<!-- <link rel="icon" type="image/png" sizes="220x177" href="/images/koala.png"> -->
<!-- <link rel="icon" type="image/png" sizes="500x500" href="/images/sag-tatoo.png"> -->
<link rel="icon" type="image/png" sizes="500x500" href="/images/lambda.png">
<!-- <link rel="icon" type="image/png" href="/images/koala.png"> -->


<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#646464">


<link href="/main.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700%7CRaleway:400,800,900" />
<link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css" integrity="sha384-dBdms/umd+7PLYbMZaxliJiRqVwkY7YhJkECIoD/eGP2+ot4N+0Xcm7ucrlhedpJ"
  crossorigin="anonymous">
{% if page %}
<title>{{ page.title }} &ndash; {{ config.title }}</title>
{% else %}
<title>{{ config.title }}</title>
{% endif %}
{% if config.generate_rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
{% endif %}
<script defer src="/js/outlines.js"></script>
<script src="/js/icons.js" async></script>
<!-- Math rendering -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>