{% import "macros.html" as macros %}

<!DOCTYPE HTML>
<html>

<head>
    {% include "head.html" %}
    <meta property="og:url" content="https://logicalfoundations.org" />
    <meta property="og:image" content="https://logicalfoundations.org/images/banner.jpg" />
    <meta property="og:image:width" content="1500" />
    <meta property="og:image:height" content="786" />
    <meta property="og:title" content="Logical Foundations" />
    <meta property="og:site_name" content="Logical foundations" />
    <meta property="og:description" content="making the world an open book" />
    {% for page in paginator.pages %}
    {% if page.extra.katex %}
    {% set_global load_katex = true %}
    {% endif %}
    {% endfor %}
    {% if load_katex %}
    {% include "katex.html" %}
    {% endif %}
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        {% include "header.html" %}

        {% include "menu.html" %}

        <!-- Main -->
        <div id="main">

            <!-- Posts -->
            {% block content %}
            {% for page in paginator.pages %}
            <article class="post">
                {{ macros::title(page=page) }}
                {% if page.extra.banner %}
                <span class="image featured"><img src="/images/{{ page.extra.banner }}-banner.jpg" alt="Banner" /></span>
                {% endif %}
                {{ page.summary | safe }}
                <footer>
                    <ul class="actions">
                        <li><a href="{{ page.permalink }}#continue-reading" class="button big">Continue Reading</a></li>
                    </ul>
                </footer>


                <!-- <p>William DeMeo's open notebook</p> -->

               <!-- <p>Here is a list of recent posts.</p>

                <h2>recent posts</h2>
                <script $partial("templates/tags/list.html")$> </script> <p>…more posts are in the <a href="./archive/">archives</a>.</p> -->

                <!--  --> 

            </article>
            {% endfor %}
            {% endblock content %}

            <!-- Pagination -->
            <ul class="actions pagination">
                <li>
                    {% if paginator.previous %}
                    <a href="{{ paginator.previous }}" class="button big"><i class="fao fa-chevron-double-left"></i>
                        Newer Posts</a>
                    {% else %}
                    <a href="#" class="disabled button big">Latest Posts</a>
                    {% endif %}
                </li>
                <li>
                    {% if paginator.next %}
                    <a href="{{ paginator.next }}" class="button big">Older Posts <i class="fao fa-chevron-double-right"></i></a>
                    {% else %}
                    <a href="#" class="disabled button big">Oldest Posts</a>
                    {% endif %}
                </li>
            </ul>

        </div>

        <!-- Sidebar -->
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <img src="/images/lambda-gray.png" style="width:30%;height:30%;" alt="Logical Foundations"
                <header>
                    <h2>{{ config.title }}</h2>
                    <p>{{ config.description }}</p>
                </header>
            </section>


            <!-- Posts List -->
            <section>
                <ul class="posts">
                    {{ macros::gitlabualib(repo="lean-ualib", blurb="Lean universal algebra library",
                    thumb="alonzo") }}
                </ul>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">
                </div>
            </section>


            {% include "footer.html" %}

        </section>

    </div>

    <script data-isso="/isso" src="/isso/js/count.min.js" async></script>
    <script src="/js/axiomatic.js"></script>
    {% if load_katex %}
    <script src="/js/math.js"></script>
    {% endif %}
</body>

</html>
