{% macro title(page) %}
<header>
    <div class="title">
        <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        <p>{{ page.description }}</p>
    </div>
    <div class="meta">
        <time class="published" datetime="{{ page.date }}">{{ page.date | date(format="%B %e, %Y") }}</time>
        <span class="reading">
            Reading time:
            {% if page.reading_time > 0 %}
            about {{ page.reading_time }} minute{{ page.reading_time | pluralize }}
            {% else %}
            less than a minute
            {% endif %}
            ({{ page.word_count }} words).
        </span>
    </div>
</header>
{% endmacro title %}

{% macro github(repo, blurb, thumb) %}
<li>
    <article>
        <header>
            <h3><a href="https://github.com/williamdemeo/{{ repo }}">{{ repo }}</a></h3>
            <span class="published">{{ blurb }}</span>
        </header>
        <a href="https://github.com/williamdemeo/{{ repo }}" class="image"><img src="/images/{{ thumb }}.jpg" alt="{{ repo }}" /></a>
    </article>
</li>
{% endmacro github %}

{% macro githubua(repo, blurb, thumb) %}
<li>
    <article>
        <header>
            <h3><a href="https://github.com/universalalgebra/{{ repo }}">{{ repo }}</a></h3>
            <span class="published">{{ blurb }}</span>
        </header>
        <a href="https://github.com/universalalgebra/{{ repo }}" class="image"><img src="/images/{{ thumb }}.jpg" alt="{{ repo }}" /></a>
    </article>
</li>
{% endmacro githubua %}

{% macro gitlabualib(repo, blurb, thumb) %}
<li>
    <article>
        <header>
            <h3><a href="https://gitlab.com/ualib/{{ repo }}">{{ repo }}</a></h3>
            <span class="published">{{ blurb }}</span>
        </header>
        <a href="https://gitlab.com/ualib/{{ repo }}" class="image"><img src="/images/{{ thumb }}.jpg" alt="{{ repo }}" /></a>
    </article>
</li>
{% endmacro gitlabualib %}

{% macro gitlablf(repo, blurb, thumb) %}
<li>
    <article>
        <header>
            <h3><a href="https://gitlab.com/logicalfoundations/{{ repo }}">{{ repo }}</a></h3>
            <span class="published">{{ blurb }}</span>
        </header>
        <a href="https://gitlab.com/logicalfoundations/{{ repo }}" class="image"><img src="/images/{{ thumb }}.jpg" alt="{{ repo }}" /></a>
    </article>
</li>
{% endmacro gitlablf %}