<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search">
            <input type="text" id="searchmenu" placeholder="Search" />
        </form>
        <div class="search-results">
            <div class="search-results__items"></div>
        </div>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="{{ config.base_url }}">
                    <h3>home</h3>
                </a>
            </li>
            <li>
                <a href="/about">
                    <h3>about</h3>
                </a>
            </li>
            <li>
                <a href="/books">
                    <h3>books</h3>
                </a>
            </li>
            <li>
                <a href="/code">
                    <h3>code</h3>
                </a>
            </li>
            <li>
                <a href="/archive">
                    <h3>archive</h3>
                </a>
            </li>
            <li>
                <a href="/rss.xml">
                    <h3>feed</h3>
                </a>
            </li>
        </ul>
    </section>

</section>