{% extends "page.html" %}

{% macro authors(list) %}
{% set authors = "" %}
{% for name in list %}
    {% if loop.first %}
        {% set prev = authors %}
    {% elif loop.last %}
        {% set prev = authors ~ " and " %}
    {% else %}
        {% set prev = authors ~ ", " %}
    {% endif %}
    {% set_global authors = prev ~ name.given ~ " " ~ name.family %}
{% endfor %}
{{ authors }}
{% endmacro authors %}

{% block content %}
<article class="post">
    {% set pubs = load_data(path="../src/pubs.json") %}
    <h2>Pre-prints</h2>
    <ul class="alt">
    {% for publication in pubs | filter(attribute="type", value="article") | sort(attribute="sort") | reverse %}
        <li class="pub-item">
            <div class="pub-title">{{ publication.title | safe }}</div>
            <div class="pub-authors">{{ self::authors(list=publication.author) }}</div>
            <div class="pub-details"><a href="{{ publication.URL }}"><span class="pub-journal">{{ publication.source }}</span> {{ publication.publisher }}</a></div>
            <p><span class="pub-links">[<button id="{{ publication.id }}" class="abstractlink">Abstract</button>, <a href="https://arxiv.org/pdf/{{ publication.publisher }}">PDF</a>]</span></p>
            <div id="{{ publication.publisher }}" class="abstract">{{ publication.abstract | safe }}</div>
        </li>
    {% endfor %}
    </ul>
    <h2>Journal Articles</h2>
    <ul class="alt">
    {% for publication in pubs | filter(attribute="type", value="article-journal") | sort(attribute="sort") | reverse %}
        <li class="pub-item">
            <div class="pub-title">{{ publication.title | safe }}</div>
            <div class="pub-authors">{{ self::authors(list=publication.author) }}</div>
            <div class="pub-details"><a href="https://doi.org/{{ publication.DOI }}"><span class="pub-journal">{{ publication["container-title"] }}</span> <span class="pub-vol">{{ publication.volume }}</span> {{ publication.page }} ({{ publication.issued["date-parts"].0.0 }})</a></div>
            <p><span class="pub-links">[<button id="{{ publication.id }}" class="abstractlink">Abstract</button>, <a href="{{ publication.URL }}">PDF</a>]</span></p>
            <div id="{{ publication.id }}" class="abstract">{{ publication.abstract | safe }}</div>
        </li>
    {% endfor %}
    </ul>
    <h2>Theses</h2>
    <ul class="alt">    </ul>
</article>
<script src="/js/abstract.js"></script>
{% endblock content %}
